/* // The container element has two columns
// The container's second column is 4 times larger than the first column
// The container element has a gap of 4px
// The header element has two columns
// The ul inside the menu element contains another grid
// The ul inside the nav element contains another grid
The sidebar element has a gap of 50px
The text elements in the sidebar are centered with grid
The article element should set grid columns using repeat along with the auto-fit and minmax properties
The article columns should have a minimum value of 250px and a maximum of 1fr unit
The article element has a gap of 15px
The card elements inside the article container have a height of 200px
The header and footer span across both columns
The sidebar only spans across the first column
The nav and article elements only span across the second column */

* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
  text-align: center;
  min-height: 100vh;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;

  background-color: #393f4d;
}

.header .logo {
  justify-self: start;
}

.menu {
  align-self: center;
}

.menu ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}

li {
  list-style-type: none;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  display: grid;
  grid-row: 2 / 4;
  gap: 50px;
  background-color: #ff7755;
}

.sidebar > * {
  display: grid;
  align-items: center;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #ff7755;
  display: grid;
  align-items: center;
}

.nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #ffffff;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  padding: 5px;
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  grid-column: 1 / -1;

  display: grid;
  align-items: center;

  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
